<header class="nav-style">
  <div class="nav-header">
    <div class="logo">
      <a href="#">Recipe Book</a>
    </div>
    <div class="nav-links">
      <ul>
        <li><a href="#" (click)="onSelect('recipe')">Recipes</a></li>
        <li>
          <a href="#" (click)="onSelect('shopping-list')">Shopping List</a>
        </li>
      </ul>
      <ul class="nav-right">
        <li><a href="">Save Data</a></li>
        <li><a href="">Fetch Data</a></li>
      </ul>
    </div>
  </div>
</header>
