<div class="row">
  <div class="col">
    <form>
      <div class="row">
        <div class="col">
          <label for="name">Name</label>
          <input type="text" id="name" />
        </div>
        <div class="col">
          <label for="amount">Amount</label>
          <input type="number" id="amount" />
        </div>
        <div class="row">
          <div class="col">
            <button class="success" type="submit">Add</button>
            <button class="delete">Delete</button>
            <button class="clear">Clear</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
